<?xml version="1.0" encoding="Windows-1252"?>
<!--
	(c) 2010 by Exit Games GmbH, http://www.exitgames.com
	Photon server configuration file.
	For details see the photon-config.pdf.

	This file contains two configurations:

		"Instance1"
				Default. Various applications and demos.
				Starts the apps: Lite, LiteLobby, MmoDemo, CounterPublisher and Policy
				Listens: udp-port 5055, tcp-port: 4530, 843 and 943
		"InstanceLoadBalancing"
				Loadbalanced setup for local development: A Master-server and two game-servers.
				Starts the apps: Lite, LiteLobby, MmoDemo, CounterPublisher and Policy
				Listens: udp-port 5055, tcp-port: 4530, 843 and 943
-->

<Configuration>
	<!-- Multiple instances are supported. Each instance has its own node in the config file. -->
	<!-- PhotonControl will currently only start "Instance1" but the .cmd files could be modified to start other instances. -->
	<InstanceLoadBalancing
		EnablePerformanceCounters = "true"
		DataSendingDelayMilliseconds="50"
		AckSendingDelayMilliseconds="50"
		PerPeerMaxReliableDataInTransit="16384"
		PerPeerTransmitRateLimitKBSec="128"
		MaxQueuedDataPerPeer="65536"
		MinimumTimeout="5000"
		MaximumTimeout="10000">
		<IOPool/>

		<ThreadPool
			InitialThreads="4"
			MinThreads="4"
			MaxThreads="4">
		</ThreadPool>

		<!-- Using the same value for initial, min and max makes the pool fixed size, which allows optimizations. -->
		<ENetThreadPool
			InitialThreads="2"
			MinThreads="2"
			MaxThreads="2">
		</ENetThreadPool>

		<!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
		<!-- Port 5055 is Photon's default for UDP connections. -->
		<UDPListeners>
			<UDPListener
				IPAddress="0.0.0.0"
				Port="5055"
				OverrideApplication="Master">
			</UDPListener>
			<UDPListener
				IPAddress="0.0.0.0"
				Port="5056"
				OverrideApplication="Login">
			</UDPListener>
			<UDPListener
				IPAddress="0.0.0.0"
				Port="5057"
				OverrideApplication="Chat">
			</UDPListener>
      <UDPListener
				IPAddress="0.0.0.0"
				Port="5058"
				OverrideApplication="Region1">
      </UDPListener>
      <UDPListener
				IPAddress="0.0.0.0"
				Port="5059"
				OverrideApplication="Region2">
      </UDPListener>
    </UDPListeners>
		
		<!-- 0.0.0.0 opens listeners on all available IPs. Machines with multiple IPs should define the correct one here. -->
		<!-- Port 5055 is Photon's default for TCP connecttions. -->
		<TCPListeners>
			<!-- TCP listener for Game clients on Master application -->
			<TCPListener
				IPAddress="0.0.0.0"
				Port="4530"
				OverrideApplication="Master"
				DisableNagle="true"
				InactivityTimeout="0">
			</TCPListener>
			
			<TCPListener
				IPAddress="0.0.0.0"
				Port="4531"
				OverrideApplication="Login"
				DisableNagle="true"
				InactivityTimeout="0">
			</TCPListener>

			<TCPListener
				IPAddress="0.0.0.0"
				Port="4532"
				OverrideApplication="Chat"
				DisableNagle="true"
				InactivityTimeout="0">
			</TCPListener>
      
      <TCPListener
				IPAddress="0.0.0.0"
				Port="4533"
				OverrideApplication="Region1"
				DisableNagle="true"
				InactivityTimeout="0">
      </TCPListener>
      
      <TCPListener
				IPAddress="0.0.0.0"
				Port="4534"
				OverrideApplication="Region2"
				DisableNagle="true"
				InactivityTimeout="0">
      </TCPListener>

      <!-- DON'T EDIT THIS. TCP listener for GameServers on Master application -->
			<TCPListener
				IPAddress="0.0.0.0"
				Port="4520"
				DisableNagle="true"
				InactivityTimeout="0">
			</TCPListener>
		</TCPListeners>
		
		<!-- Policy request listener for Unity and Flash (port 843) and Silverlight (port 943)  -->
		<TCPPolicyListeners>
			<!-- multiple Listeners allowed for different ports -->
			<TCPPolicyListener
				IPAddress="0.0.0.0"
				Port="843"
				Application="Policy"
				InactivityTimeout="5000">
			</TCPPolicyListener>
		</TCPPolicyListeners>

		<!-- Defines the Photon Runtime Assembly to use. -->
		<Runtime
			Assembly="PhotonHostRuntime, Culture=neutral"
			Type="PhotonHostRuntime.PhotonDomainManager"
			UnhandledExceptionPolicy="Ignore">
		</Runtime>

		<!-- Defines which applications are loaded on start and which of them is used by default. Make sure the default application is defined. -->
		<!-- Application-folders must be located in the same folder as the bin_win32 folders. The BaseDirectory must include a "bin" folder. -->
		<Applications Default="Master">		
			<Application
				Name="Master"
				BaseDirectory="AegisBorn"
				Assembly="CJRGaming.MMO.Server"
				Type="CJRGaming.MMO.Server.MasterServer.MasterServer">
			</Application>
			<Application
				Name="Login"
				BaseDirectory="AegisBorn"
				Assembly="CJRGaming.MMO.Server"
				Type="CJRGaming.MMO.Server.SubServer.Types.LoginServer"
				EnableAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application>
			<Application
				Name="Chat"
				BaseDirectory="AegisBorn"
				Assembly="CJRGaming.MMO.Server"
				Type="CJRGaming.MMO.Server.SubServer.Types.ChatServer"
				EnableAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
			</Application>
      <Application
				Name="Region1"
				BaseDirectory="AegisBorn"
				Assembly="CJRGaming.MMO.Server"
				Type="CJRGaming.MMO.Server.SubServer.Types.RegionServer"
				EnableAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
      </Application>
      <Application
				Name="Region2"
				BaseDirectory="AegisBorn"
				Assembly="CJRGaming.MMO.Server"
				Type="CJRGaming.MMO.Server.SubServer.Types.RegionServer"
				EnableAutoRestart="true"
				WatchFiles="dll;config"
				ExcludeFiles="log4net.config">
      </Application>
      <Application
				Name="Policy"
				BaseDirectory="Policy"
				Assembly="Policy.Application"
				Type="Exitgames.Realtime.Policy.Application.Policy"
				EnableAutoRestart="true"
				WatchFiles="dll;config;xml"
				ExcludeFiles="log4net.config">
			</Application>
		</Applications>
	</InstanceLoadBalancing>
</Configuration>
