<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CJRGaming.MMO.Server.SubServer.SubServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="CJRGaming.MMO.Server.MasterServer.MasterServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CJRGaming.MMO.Server.SubServer.SubServerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CJRGaming.MMO.Server.SubServer.SubServerSettings>
            <setting name="MasterIPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
            <setting name="PublicIPAddress" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </CJRGaming.MMO.Server.SubServer.SubServerSettings>
        <CJRGaming.MMO.Server.MasterServer.MasterServerSettings>
            <setting name="IncomingSubServerPort" serializeAs="String">
                <value>4520</value>
            </setting>
        </CJRGaming.MMO.Server.MasterServer.MasterServerSettings>
    </applicationSettings>
    <userSettings>
        <CJRGaming.MMO.Server.SubServer.SubServerSettings>
            <setting name="GamingTcpPort" serializeAs="String">
                <value>4531</value>
            </setting>
            <setting name="GamingUdpPort" serializeAs="String">
                <value>5056</value>
            </setting>
            <setting name="ConnectReytryInterval" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="OutgoingMasterServerPeerPort" serializeAs="String">
                <value>4520</value>
            </setting>
        </CJRGaming.MMO.Server.SubServer.SubServerSettings>
    </userSettings>
</configuration>